<h2><%= @band.name %>'s Albums</h2>

<% albums = @band.albums %>

<ul>
<% albums.each do |album| %>
  <li> <a href="<%= album_url(album) %>"> <%= album.name %> </a> </li>
<% end %>
</ul>

<br>
<a href="<%= new_band_album_url(@band) %>">Add an album</a>
<br>

<br>
<a href="<%= edit_band_url(@band) %>">Edit Band Information</a>
<br>

<br>
<a href="<%= bands_url %>">Back to All Bands</a>
<br>

<br>
<form action="<%= band_url(@band) %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <%= render_auth_token %>
  <button>Delete this band!</button>
</form>
<br>
